.App {
  text-align: center;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  /* justify-content: center; */
  /* align-self: center; */
  /* justify-items: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* #HOMEPAGE */

.bar {
  background-color: #282c34;
  height: 13%;
  padding-left: 50px;
  padding-top: 10px;
  color:aliceblue;
  text-align: left;
}

.header {
  display: flex;  
}

.full-box {
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
}
.center-box {
  width: 100%;
  background: #c8cef1;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
  border-left: 10px solid #ffffff ;
  border-right: 10px solid #20377a ;
}

.center-box h3{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.center-box h6{
  font-weight: 700;
}

.hovButton:hover{
  cursor: pointer;
}

.left-box {
  width: 100%;
  border-left: 10px solid #282c34; 
  background: #20377a;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
}

.right-box {
  width: 100%;
  border-right: 10px solid #282c34;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  transition: all 0.3s;
}

.date-picker{
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 132, 255);
}

h3 {
  font-weight: 600;
}

.static-picker{
  color: #20377a
}

.titlesx{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.titlesx p{
  font-weight: 600;
  font-size: 40px;
  color: aliceblue;
}

.titledx{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -20px;
}

.titledx p{
  font-weight: 650;
  font-size: 40px;
  color: #20377a;
}
