node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
backendapi/backendapi/__pycache__
backendapi/apirest/__pycache__
backendapi/apirest/migrations


# macOS
.DS_Store
