habit-tracker-ejected/node_modules/
habit-tracker-ejected/.expo/
habit-tracker-ejected/android/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
backendapi/backendapi/__pycache__
backendapi/apirest/__pycache__
backendapi/apirest/migrations
habit-tracker-web/.firebase
habit-tracker-web/build


# macOS
.DS_Store
